<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>
    <header>
        <h1>Search Results</h1>
    </header>
    <main>
        <section id="results">
            <main>
                <section id="results">
                    <div class="result">
                        <h2><%= building %></h2>
                        <img src= <%= imgurl %> alt="Building Image">
                        <div class="info">
                        <p>State: <%= state %></p>
                        <p>City: <%= city %></p>
                        <p>Built-in: <%= builtin %></p>
                        <p>Built by: <%= builtby %></p>
                        </div>
                        
                        
                    </div>
                </section>
            </main>
            
        </section>
    </main>
    <footer>
        <p>&copy; Myteam</p>
    </footer>

    <!-- <script src="../src/search.js"></script> -->
</body>
</html>
